<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WPG - Gallery</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/slideshow/" method="get">
            Slideshow:
            <input type="number" min="0" name="delay" class="delay"> sec. |
            <input type="radio" name="type" value="crt">Current directory
            <input type="radio" name="type" value="sub">Currend and subdirecotries
            <input type="radio" name="type" value="all">All
            <input type="hidden" name="dir" value="{{.CrntPath}}"> |
            <input type="submit">
        </form>

        <br>

        <form action="" method="get">
            Elements by page:
            <input type="number" min="0" name="elem" value="{{.NbPics}}">
            <input type="hidden" name="page" value="0">
            <input type="submit" value="Display">
        </form>
        <nav>
            {{range .Pages}}
                <a href="?elem={{.NbPics}}&page={{.Page}}">
                    {{if .IsCurrentPage}}
                        <i><b>
                    {{end}}

                    {{.PageDisplay}}

                    {{if .IsCurrentPage}}
                            </b></i>
                    {{end}}
                </a>
            {{end}}

        </nav>

        <br>

        <nav>
            {{range .Dirs}}
                <a href="{{.Path}}" class="directory_link">
                    {{.Name}}
                </a>
            {{end}}
        </nav>

        <br>

        <center>
            <div>
                {{range .Pics}}
                    <a href="{{.Path}}" title="{{.Name}}" target="_blank" class="img_in_grid">
                        <figure>
                            <img src="{{.Path}}" alt="{{.Name}}" class="img_in_grid">
                        </figure>
                    </a>
                {{end}}
            </div>
        </center>
    </body>
</html>
